.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s ease-out;
}

.show {
    opacity: 1;
    color: black;
    filter: opacity(1);
    transform: translateX(0);
}

.project__container {
    margin: 20px;
}

.project__card {
    margin: 10px;
    border: 1px solid var(--title-color);
    border-radius: 5%;
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 450px;
    position: relative;
}

.card__image {
    border-radius: 5% 5% 0 0;
    height: 100%;
    width: 100%;
}

.project__image {
    height: 50%;

}

.project__name {
    font-size: var(--h2-font-size);
    color: var(--title-color-dark);
    margin-top: var(--mb-1);
    font-weight: bold;
}

.project__description {
    color: var(--title-color);
    text-align: left;
    /* margin: var(--mb-1) var(--mb-1) 0 var(--mb-1); */
}

.project__link {
    display: flex;
    align-items: center;
    justify-content: center;

}



.project__button button {

    margin: var(--mb-1);
    background-color: var(--title-color-dark);
    padding: 3%;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    bottom: -5px;

}

.project__code {
    color: var(--title-color-dark);
    font-size: var(--h3-font-size);
    font-weight: bold;


}

hr {
    height: 2px;
    background-color: var(--title-color-dark);
    animation: animate 1s ease-out;
}

@keyframes animate {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .project__card {
        height: 300px;

    }

    .project__button {
        /* width: 50%; */
        /* align-self: center; */
    }


    .project__image {
        display: none;
    }
}